@keyframes floatCard {
  0% {
    top: 0%;
    left: 69%;
  }
  12.5% {
    left: 63%;
  }
  37.5% {
    left: 75%;
  }
  50% {
    top: 47%;
    left: 69%;
  }
  62.5% {
    left: 63%;
  }
  87.5% {
    left: 75%;
  }
  100% {
    top: 0%;
    left: 69%;
  }
}

.animate-floatCard {
  animation: floatCard 12s ease-in-out infinite;
}

.animate-floatCard:hover {
  transition-delay: 750ms;
  animation-play-state: paused;
}
