@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #121212;
  --color-text: #fafafa;
  --font-primary: "geist", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --radius: 8px;
  --gap: 1rem;
  --max-width: 1200px;
  --base-size: 16px;

  /* Style font boldness */
  --font-thin: 100;
  --font-extra-light: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium-light: 500;
  --font-medium: 600;
  --font-semibold: 700;
  --font-bold: 800;
  --font-black: 900;
}

html {
  font-size: var(--base-size);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-size: 1rem;
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.container {
  width: min(90%, var(--max-width));
  margin-inline: auto;
  padding-inline: var(--gap);
}

/* CUSTOM CSS */

header {
  padding: var(--gap) 0;
  text-align: center;
  height: 80px;
  /* border-bottom: 1px solid #333; Optional border for header */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  & ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    & li {
      & a {
        text-decoration: none;
        color: var(--color-text);
        font-weight: var(--font-normal);
        transition: color 0.3s ease;

        &:hover {
          color: #9879eeff;
        }
      }
    }
  }
}

main {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  & section {
    width: 100%;
    height: auto;
    min-height: 864px;
    //border: 1px solid red; /* apenas para visualização */
  }

  /* hero section */
  & section:nth-of-type(1) {
    padding-inline: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h1 {
      margin-bottom: 1rem;
      text-align: center;

      /* Gradient text in h1 before span */
      & span:nth-of-type(1) {
        font-size: 4rem;
        font-weight: var(--font-regular);
        background: linear-gradient(90deg, #fafafa 0%, #c5c5c5 75%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }

      & span:nth-of-type(2) {
        font-size: 4rem;
        font-weight: var(--font-bold);
        display: inline-block;
        background: linear-gradient(
          90deg,
          #6c63ff,
          /* violeta base */ #7e6fff,
          /* violeta médio */ #9c6cff,
          /* lilás suave */ #b88cff,
          /* lilás claro */ #9c6cff,
          /* lilás suave */ #7e6fff,
          /* violeta médio */ /* violeta médio */ #6c63ff /* violeta base*/
        );
        background-size: 200% auto;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 10s linear infinite;
      }
    }

    & p {
      width: 100%;
      max-width: 800px;
      font-size: 1rem;
      line-height: 1.5;
      text-align: center;
      color: #fafafa;

      & span {
        font-weight: var(--font-bold);
      }
    }

    & button {
      margin-top: 6rem;
      padding: 0.875rem 3rem;
      font-size: 1rem;
      font-weight: 500;

      color: var(--color-text);
      background: linear-gradient(90deg, #6c63ff 0%, #9c6cff 75%);

      border: none;
      border-radius: 99px;
      cursor: pointer;
    }
  }

  /* projects section */
  & section:nth-of-type(2) {
    width: 100%;
    padding-top: 4rem;
    padding-inline: 8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    & .projects-grid {
      width: 100%;
      max-width: 1200px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2rem;

      & .project-card {
        background-color: #1e1e1e;
        border-radius: 16px;
        padding: 12px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & img {
          width: 100%;
          border-radius: 8px;
          margin-bottom: 0.75rem;
        }

        & .container-content {
          & p {
            font-size: 0.875rem;
            margin-bottom: 0.25rem;
          }

          & h2 {
            font-size: 1.25rem;
            font-weight: var(--font-bold);
          }
        }

        & .divider {
          width: 100%;
          height: 1px;
          background: #5e5e5e;
        }

        & div {
          & svg {
            --size: 44px;
            width: var(--size);
            height: var(--size);
          }
        }
      }
    }

    & button {
      margin-top: 6rem;
      padding: 0.875rem 3rem;
      font-size: 1rem;
      font-weight: 500;

      color: var(--color-text);
      background: linear-gradient(90deg, #6c63ff 0%, #9c6cff 75%);

      border: none;
      border-radius: 99px;
      cursor: pointer;
    }
  }

  /* about me section */
  & section:nth-of-type(3) {
    padding-inline: 8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    & h1 {
      font-size: 2.5rem;
      font-weight: var(--font-medium-light);
      text-align: center;
      background: linear-gradient(90deg, #fafafa 0%, #c5c5c5 75%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    & article {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: 2rem;

      & img {
        width: 100%;
        max-width: 484px;
        border-radius: 16px;
      }

      & div {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & p {
          width: 100%;
          max-width: 484px;
          font-size: 1rem;
          line-height: 1.5;
          color: #fafafa;
        }
      }
    }

    & button {
      margin-top: 6rem;
      padding: 0.875rem 3rem;
      font-size: 1rem;
      font-weight: 500;

      color: var(--color-text);
      background: linear-gradient(90deg, #6c63ff 0%, #9c6cff 75%);

      border: none;
      border-radius: 99px;
      cursor: pointer;
    }
  }

  /* contact us section */
  & section:nth-of-type(4) {
    padding-inline: 8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & .mark {
      width: auto;
      max-width: 220px;
      background: rgba(250, 250, 250, 0.06);
      padding: 6px 12px;
      border-radius: 10px;

      & p {
        font-family: var(--font-secondary);
        color: #fafafa;
        font-size: 0.875rem;
      }
    }

    & h2 {
      width: 100%;
      max-width: 900px;
      font-size: 3rem;
      font-weight: var(--font-medium-light);
      text-align: center;
      background: linear-gradient(145deg, #fafafa 0%, #c5c5c5 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      margin-bottom: 2rem;
    }

    & div {
      width: 100%;
      max-width: 764px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & .card {
        width: 100%;
        max-width: 284px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 1.75rem;

        & h3 {
          font-size: 2rem;
          font-weight: var(--font-semibold);
          background: linear-gradient(180deg, #fafafa 0%, #c5c5c5 50%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }

        & div {
          width: auto;
          max-width: 196px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          background: rgba(250, 250, 250, 0.06);
          border: 1px dashed rgba(250, 250, 250, 0.2);
          padding: 6px 12px;
          border-radius: 10px;
          font-family: var(--font-secondary);
          color: #fafafa;
          cursor: pointer;

          & p {
            font-size: 0.875rem;
          }

          & svg {
            --size: 20px;
            stroke: #c5c5c5;
            width: var(--size);
            height: var(--size);
          }
        }

        & button {
          padding: 0.875rem 3rem;
          font-size: 1rem;
          font-weight: 500;

          color: var(--color-text);
          background: linear-gradient(90deg, #6c63ff 0%, #9c6cff 75%);

          border: none;
          border-radius: 99px;
          cursor: pointer;
          transition: background 0.3s ease;
        }
      }
    }
  }
}

footer {
  padding: 0rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & .footer-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    /* Seção Esquerda */
    & .footer-left {
      display: flex;
      flex-direction: column;

      & .footer-label {
        font-weight: var(--font-regular);
        font-size: 1rem;
        line-height: 1.25rem;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #965eff;
      }

      & h2 {
        font-size: 2.5rem;
        font-weight: var(--font-semibold);
        line-height: 1.2;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
      }

      & button {
        width: fit-content;
        margin-bottom: 2rem;
        padding: 0.875rem 3rem;
        font-size: 1rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        color: var(--color-text);
        background: linear-gradient(90deg, #6c63ff 0%, #9c6cff 75%);

        border: none;
        border-radius: 99px;
        cursor: pointer;

        & svg {
          --size: 20px;
          width: var(--size);
          height: var(--size);
          stroke: #fafafa;
        }
      }

      & .contact-email {
        /* contato por email */
        & p {
          font-size: 0.875rem;
          margin-bottom: 0.5rem;
          color: #9f9fa9;
        }

        & .email-box {
          width: fit-content;
          margin-bottom: 2rem;
          padding: 0.875rem 3rem;
          font-size: 1rem;
          font-weight: 500;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          color: var(--color-text);
          background: rgba(150, 94, 255, 0.25);

          border: dashed 1px rgba(150, 94, 255, 1);
          border-radius: 99px;
          cursor: pointer;

          & p {
            font-size: 1rem;
            font-weight: 400;
            font-family: var(--font-primary);
            letter-spacing: 0.02em;
            color: #fafafa;
            margin: 0;
          }

          & svg {
            --size: 20px;
            width: var(--size);
            height: var(--size);
            stroke: #fafafa;
          }
        }
      }
    }

    /* Seção Direita */
    & .footer-right {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: end;
      gap: 4rem;

      & .footer-column {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        & .footer-label {
          font-weight: var(--font-regular);
          font-size: 1rem;
          line-height: 1.25rem;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: #965eff;
        }

        & ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          & li {
            & a {
              text-decoration: none;
              color: #fafafa;
              font-size: 1rem;
              font-weight: var(--font-normal);
              transition: color 0.3s ease;

              &:hover {
                color: #9879eeff;
              }
            }
          }
        }
      }
    }
  }

  & .divider {
    height: 1px;
    width: 100%;
    max-width: 1200px;
    border-radius: 2px;
    background: rgba(64, 64, 64, 1);
  }

  /* Rodapé Inferior */
  & .footer-bottom {
    width: 100%;
    max-width: 1200px;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & p {
      font-size: 0.875rem;
      color: #9f9fa1ff;
    }

    & .social-icons {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;

      & a {
        text-decoration: none;
        color: #fafafa;
        font-size: 1.25rem;

        & img {
          width: 24px;
          height: 24px;
        }
      }
  }
}

/* animação do gradiente */
@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

/* Global CSS Styles */
.bold-800 {
  font-weight: var(--font-bold);
}
